<div class="footerdiv">
        <div>
          <div class="col-lg-12">
            <div class="groupicons">
                <div class="iconlist" title="Gmail"><a href="mailto:neela.santosh2405@gmail.com">
                    <i class="fa fa-envelope fa-fw fa-2x"></i></a>
                </div>
                <div class="iconlist" title="Linkedin"><a href="https://www.linkedin.com/in/santoshneela/">
                    <i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                </div>
                <div class="iconlist" title="GitHub"><a href="https://github.com/neelasantosh">
                    <i class="fa fa-github fa-fw fa-2x"></i></a>
                </div>
                <div class="iconlist" title="CodePen"><a href="https://codepen.io/SantoshNeela">
                    <i class="fa fa-codepen fa-fw fa-2x"></i></a>
                </div>
            </div>
          </div>
        </div>            
  </div>