<div>
        <h4 class="head">About</h4>
        <div class="components">
            <div class="me">Hi! I'm Neela Santosh Kumar. I'm a Senior Associate Consultant at Infosys Ltd </div>
            <div class="mecontent">
                I have 4+ years of experience on React JS and 1 year experience on React Native, Node Js, Express and MongoDB.
                I am self learner and motivated person. I can work on web related stuff alone or 
                in a good team. 
            </div>
        </div>
</div>


