<h4 class="centeredhead">Get in touch!!</h4>

        <div class="formdiv">
          <form action="https://formspree.io/neela.santosh2405@gmail.com" method="POST" id="contactform">
            <div class="form-group">
              <label class="formlabels">Name:</label>
              <input class="forminputs form-control" type="text" name="name"/>
            </div>
            <div class="form-group">
              <label class="formlabels">Email:</label>
              <input class="forminputs form-control" type="text" name="replytome"/>
            </div>
            <div class="form-group">
              <label class="formlabels">Comment:</label>
              <textarea class="commentinputs form-control" name="comments"></textarea>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>

        <div class="emailtome" title="email">Or, email me at
             <a href="mailto:neela.santosh2405@gmail.com" target="_blank">
                 <strong>neela.santosh2405@gmail.com</strong>
            </a>
        </div>