<div class="components">
<h4 class="head">Skills</h4>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="tags">Front-end:</div>
      <div class="tagname">
        <li>React</li>
        <li>Redux</li>
        <li>Angular: Beginner</li>
        <li>HTML5</li>
        <li>JavaScript (ES6)</li>
        <li>CSS3</li>
        <li>AJAX</li>
        <li>jQuery</li>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="tags">Back-end:</div>
      <div class="tagname">
        <li>Node.js</li>
        <li>Express</li>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="tags">Other:</div>
      <div class="tagname">
        <li>Git</li>
        <li>Webpack</li>
        <li>JSON</li>
        <li>Agile development</li>
      </div>
    </div>
</div>
</div>